# This is Git's per-user configuration file.
# Please adapt and uncomment the following lines:

# cannot use git protocol env setting
#[url "https://"]
#    insteadOf = git://
# end
[user]
  name  = <user.name>
  email = <user.email>
[color]
  ui          = auto
  status      = auto
  diff        = auto
  branch      = auto
  interactive = auto
  grep = auto
[push]
  default = current
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf     = input
[alias]
  st  = status
  sh  = show
  so  = remote show origin
  up  = pull --rebase
  pom = push origin master
  rbm = rebase master
  ad  = add
  ci  = commit
  cam = commit --amend    # fix a last commit
  co  = checkout
  fe  = fetch
  # branch
  br  = branch
  brr = branch -r
  ba  = branch -a
  bm  = branch --merged
  bn  = branch --no-merged
  # log
  wc  = whatchanged
  ls  = log --stat
  lp  = log -p
  ln  = log --name-status
  la  = log --pretty=\"format:%ad %h (%an): %s\" --date=short
  lr  = log origin
  oneline = log --pretty=oneline
  ranking = shortlog -s -n --no-merges
  log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
  log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
  # diff
  di = diff
  dm = diff master
  dw = diff --color-words
  dc = diff --cached
  ds = diff --staged
  d1 = diff HEAD~
  d2 = diff HEAD~~
  d3 = diff HEAD~~~
  d4 = diff HEAD~~~~
  d5 = diff HEAD~~~~~
  d10 = diff HEAD~~~~~~~~~~
  # edit a conficting file
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  # add a conficting file
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  # grep
  gr = grep
  gn = grep -n
